<h1>Find and Replace </h1>
<form action="/replace">
  <div class="form-group">
    <label for="find">Enter the letter</label>
    <input type="text" name="replace" id="find" placeholder="enter your letter" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn-primary">Replace</button>
  </div>
</form>
