<h1>Find and Replace </h1>
<h3>changes "cat" to "dog"</h3>
<form action="/replace" class="col-md-3">
  <div class="form-group">
    <label for="find">Enter a sentence</label>
    <input type="text" name="replace" id="find" placeholder="your sentence" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn-primary">Replace</button>
  </div>
</form>
